# Topological paper analysis

Read the calculated values from <https://link.springer.com/article/10.1007/s10822-008-9204-9> and calculate the RMSE.

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_html("topological-approach-paper-preds.html", header=0)[0]

In [3]:
df.head()

,Structure ID,Chemical namea,Observed log10(CMC),Modeling set assignment,Computed log10(CMC) ADAPT model,Computed log10(CMC) Molconn model,Source (Ref. #)
0,Surf_022,Decane-1-sulfonic acid,-1.40,Training,-1.46,-1.61,[8]
1,Surf_023,Dodecane-1-sulfonic acid,-1.97,Training,-2.00,-2.19,"[8, 9]"
2,Surf_024,Hexadecyl hydrogen sulfate,-3.26,Training,-3.20,-3.18,"[8, 9, 10]"
3,Surf_025,Hexadecan-4-yl hydrogen sulfate,-2.77,Training,-2.96,-2.90,"[8, 9, 10]"
4,Surf_026,Hexadecan-6-yl hydrogen sulfate,-2.63,Training,-2.81,-2.78,"[8, 9, 10]"

In [4]:
df.tail()

,Structure ID,Chemical namea,Observed log10(CMC),Modeling set assignment,Computed log10(CMC) ADAPT model,Computed log10(CMC) Molconn model,Source (Ref. #)
170,Surf_296,(S)-2-(3-Benzyl-4-(octyloxy)-4-oxobutanoyl)ben...,-2.82,Training,-2.76,-2.91,[19]
171,Surf_297,(S)-2-(3-Benzyl-4-(decyloxy)-4-oxobutanoyl)ben...,-3.45,Training,-3.48,-3.48,[19]
172,Surf_298,(S)-2-(3-Benzyl-4-(dodecyloxy)-4-oxobutanoyl)b...,-4.16,Training,-4.19,-4.06,[19]
173,Surf_299,(S)-2-(3-Benzyl-4-oxo-4-(tetradecyloxy)butanoy...,-4.76,Training,-4.90,-4.64,[19]
174,Surf_300,(S)-2-(4-(Dodecyloxy)-3-methyl-4-oxobutanoyl)b...,-3.35,Training,-3.43,-3.33,[19]

In [5]:
df["Modeling set assignment"].value_counts()

Training      149
Ext. Pred.     22
Outlierb        2
Outlierc        1
Outlierb,c      1
Name: Modeling set assignment, dtype: int64

In [6]:
df["ADAPT model residual"] = df["Observed log10(CMC)"] - df["Computed log10(CMC) ADAPT model"]
df["Molconn model residual"] = df["Observed log10(CMC)"] - df["Computed log10(CMC) Molconn model"]

In [7]:
df.groupby("Modeling set assignment")[["ADAPT model residual", "Molconn model residual"]].aggregate(lambda x: np.sqrt(np.mean(np.square(x))))

                         ADAPT model residual  Molconn model residual
Modeling set assignment
Ext. Pred.                           0.216438                0.197944
Outlierb                             1.036967                0.087464
Outlierb,c                           2.910000                1.830000
Outlierc                             0.500000                1.750000
Training                             0.193952                0.169302